body {
  background-color: #000;
  font-family: 'Montserrat';
  text-align: center;
}

h1 {
  color: #fff;
  font-size: 2.5rem;
}

hr {
  height: 3px;
  width: 60%;
  background: linear-gradient(to right, #808080, #FDFEFF, #808080);
}

section {
  padding: 7%;
}

.site-wrapper {
  overflow-x: hidden;
}

.main-heading {
  font-size: 5.5rem;
  font-family: 'Fira Sans';
  position: relative;
  margin-top: 35%;
  padding-bottom: 45%;
}

.name {
  text-decoration: underline;
  text-decoration-color: #30D5C8;
}

.title {
  color: #fff;
  font-size: 1.5rem;
}

.hamburger {
  color: #fff;
  font-size: 2.5rem;
  text-align: right;
  margin: 6% 5% 0 0;
}

.navbar {
  visibility: hidden;
}

/* Light/Dark mode toggle */
.toggle {
  position: absolute;
  display: inline-block;
  width: 60px;
  height: 34px;
  top: 6%;
  left: 18%;
}

.toggle-icon {
  color: #fff;
  font-size: 1.5rem;
  position: absolute;
  left: 7%;
  top: 7%;
}

.sun {
  left: 38%;
}

.toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #fff;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #30D5C8;
}

input:focus + .slider {
  box-shadow: 0 0 1px #30D5C8;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.resume {
  background-color: transparent;
  display: inline-block;
  border: 1px solid #fff;
  color: #fff;
  font-family: 'Fira Sans';
  height: 50px;
  width: 150px;
  font-size: 1.2rem;
  position: absolute;
  top: 85%;
  left: 30%;
}

.light {
  background-color: #fff;
  color: #000;
}

.link:hover {
  text-decoration: underline;
  text-decoration-color: #30D5C8;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 2rem;
  color: #000;
  display: block;
  transition: 0.3s;
  line-height: 2.5;
}

.overlay .closebtn {
  position: absolute;
  top: -5%;
  right: 5%;
  font-size: 5rem;
}

.content {
  color: #fff;
  font-size: 1rem;
  padding-bottom: 5%;
}

.skills-container {
  margin-left: -2%;
  width: 400px;
  height: 800px;
  display: grid;
  grid-template-columns: 100px 100px;
  grid-gap: 50px;
  margin-bottom: 40%;
}

.skill {
  height: 50px;
  width: 90px;
  padding: 20px;
  font-size: 2rem;
  margin-left: 20%;
}

.skill-name {
  font-size: 1rem;
  font-family: 'Montserrat';
  color: #fff;
}

.skill i {
  color: #fff;
}

.project {
  color: #fff;
  height: 800px;
  width: 300px;
  margin-left: -5%;
  margin-bottom: 35%;
  /* background-color: #fff; */
  font-family: 'Montserrat';
}

.project h2 {
  font-size: 1.8rem;
}

.project h3 {
  font-size: 1.2rem;
}

.project p {
  font-size: 1rem;
  margin: 0 5% 15% 5%;
}

.project a {
  color: #fff;
  font-size: 1rem;
  margin: 0 5% 0 5%;
  text-decoration: none;
}

.project-img {
  height: 350px;
  width: 300px;
  background-color: green;
}

.socials-container {
  position: relative;
  margin-left: 10%;
}

.socials-icon {
  color: #fff;
  font-size: 2rem;
  margin-right: 12%;
  margin-top: 8%;
}

@media only screen and (min-width: 768px) {
  /* Element sizing */
   h1 { font-size: 3.8rem; }
  .main-heading { font-size: 6.7rem; }
  .title { font-size: 2.3rem; }
  .hamburger { font-size: 4rem; }
  .overlay a { font-size: 3rem; }
  .overlay .closebtn { font-size: 6rem; }
  .content { font-size: 1.8rem; }
  .skill-name { font-size: 1.5rem; }
  .project h2 { font-size: 2.5rem; }
  .project h3 { font-size: 1.8rem; }
  .project p { font-size: 1.5rem;}
  .project a { font-size: 1.5rem; }
  .project-img { width: 500px; }
  .socials-icon { font-size: 3rem; }

  .resume {
    height: 75px;
    width: 225px;
    font-size: 1.8rem;
    top: 75%;
    left: 35%;
  }

  .skills-container {
    margin-left: 8%;
    grid-template-columns: 200px 200px;
    grid-gap: 70px;
  }

  .skill {
    width: 150px;
    font-size: 3.6rem;
    margin-left: 20%;
  }

  .project {
    height: 1000px;
    width: 500px;
    margin-left: 5%;
    margin-bottom: 25%;
  }
}

@media only screen and (min-width: 1366px) {
  .overlay{ visibility: hidden; }
  .hamburger { visibility: hidden; }

  #intro {
    padding-bottom: 0;
    height: 100vh;
  }

  .main-heading {
    font-size: 9rem;
    margin-top: -2%;
    padding-bottom: 3%;
  }

  .title {
    position: relative;
    margin-top: 5%;
    margin-left: -3%;
    font-size: 2rem;
  }

  .resume {
    height: 65px;
    width: 195px;
    margin-top: 5%;
    margin-left: 7%;
  }

  .navbar {
    visibility: visible;
    height: 50px;
    width: 600px;
    position: absolute;
    top: 5%;
    right: 5%;
  }

  .link {
    color: #fff;
    font-size: 1.5rem;
    margin-right: 5%;
    margin-left: 5%;
    text-decoration: none;
  }

  .content { font-size: 1.5rem; }

}
