body {
  background-color: #000;
  font-family: 'Montserrat';
  text-align: center;
}

h1 {
  color: #fff;
  font-size: 5rem;
}

hr {
  height: 3px;
  width: 60%;
  background: linear-gradient(to right, #808080, #FDFEFF, #808080);
}

p {
  color: #fff;
  font-size: 1rem;
  padding-bottom: 5%;
}

section {
  padding: 7%;
}

.main-heading {
  font-size: 15rem;
  font-family: 'Fira Sans';
  position: relative;
  margin-top: 40%;
  padding-bottom: 45%;
}

.name {
  text-decoration: underline;
  text-decoration-color: #FAFF00;
}

.title {
  color: #fff;
  font-size: 1.5rem;
}

.hamburger {
  color: #fff;
  font-size: 5rem;
  text-align: right;
  margin: 5% 5% 0 0;
}

.resume {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  font-family: 'Fira Sans';
  height: 100px;
  width: 200px;
  font-size: 2rem;
  position: absolute;
  top: 85%;
  left: 20%;
}

.light {
  background-color: #fff;
  color: #000;
}

.link:hover {
  text-decoration: underline;
  text-decoration-color: #30D5C8;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 5rem;
  color: #000;
  display: block;
  transition: 0.3s;
  line-height: 2.5; /* spacing between links */
}

.overlay .closebtn {
  position: absolute;
  top: -5%;
  right: 5%;
  font-size: 10rem;
}
