body {
  background-color: #000;
  font-family: 'Montserrat';
  text-align: center;
}

h1 {
  color: #fff;
  font-size: 3rem;
}

hr {
  height: 3px;
  width: 60%;
  background: linear-gradient(to right, #808080, #FDFEFF, #808080);
}

section {
  padding: 7%;
}

.site-wrapper {
  overflow-x: hidden;
}

.main-heading {
  font-size: 5.5rem;
  font-family: 'Fira Sans';
  position: relative;
  margin-top: 35%;
  padding-bottom: 45%;
}

.name {
  text-decoration: underline;
  text-decoration-color: #FAFF00;
}

.title {
  color: #fff;
  font-size: 1.5rem;
}

.hamburger {
  color: #fff;
  font-size: 3rem;
  text-align: right;
  margin: 5% 5% 0 0;
}

.resume {
  background-color: transparent;
  display: inline-block;
  border: 1px solid #fff;
  color: #fff;
  font-family: 'Fira Sans';
  height: 50px;
  width: 150px;
  font-size: 1.2rem;
  position: absolute;
  top: 85%;
  left: 30%;
}

.light {
  background-color: #fff;
  color: #000;
}

.link:hover {
  text-decoration: underline;
  text-decoration-color: #30D5C8;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 2rem;
  color: #000;
  display: block;
  transition: 0.3s;
  line-height: 2.5;
}

.overlay .closebtn {
  position: absolute;
  top: -5%;
  right: 5%;
  font-size: 5rem;
}

.content {
  color: #fff;
  font-size: 1.2rem;
  padding-bottom: 5%;
}

.skills-container {
  margin-left: -2%;
  width: 400px;
  height: 800px;
  display: grid;
  grid-template-columns: 100px 100px;
  grid-gap: 50px;
  margin-bottom: 40%;
}

.skill {
  height: 50px;
  width: 90px;
  padding: 20px;
  font-size: 2rem;
  margin-left: 20%;
}

.skill-name {
  font-size: 1rem;
  font-family: 'Montserrat';
  color: #fff;
}

.skill i {
  color: #fff;
}

.project {
  color: #fff;
  height: 1200px;
  width: 800px;
  margin-left: -5%;
  margin-bottom: 35%;
  /* background-color: #fff; */
  font-family: 'Montserrat';
}

.project h2 {
  font-size: 4rem;
}

.project h3 {
  font-size: 2.5rem;
}

.project p {
  font-size: 2.2rem;
  margin: 0 5% 10% 5%;
}

.project a {
  color: #fff;
  font-size: 2.2rem;
  margin: 0 5% 0 5%;
  text-decoration: none;
}

.project-img {
  height: 470px;
  width: 800px;
  background-color: green;
}

.socials-container {
  position: relative;
  margin-left: 10%;
}

.socials-icon {
  color: #fff;
  font-size: 3.5rem;
  margin-right: 12%;
  margin-top: 8%;
}

/* @media only screen and (min-width: 768px) {
  .title {
    font-size: 3rem;
    margin-bottom: 10%;
  }

  .content { font-size: 2.2rem; }
  .resume { top: 115%; }
  .sidebar{ visibility: hidden; }

}

@media only screen and (min-width: 1366px) {
  .overlay{ visibility: hidden; }
  .hamburger { visibility: hidden; }

  #intro {
    padding-bottom: 0;
    height: 100vh;
  }

  .main-heading {
    font-size: 10rem;
    margin-top: -5%;
    padding-bottom: 5%;
  }

  .title {
    position: relative;
    margin-top: 3%;
    font-size: 2rem;
  }

  .resume {
    margin-top: 10%;
    margin-left: 5%;
  }

  .content { font-size: 1.5rem; }

} */
